<div class="navHome">
    <h2 class="logo">Arbol-App</h2>
    <h1 class="tituloHome">Lista de productos</h1>
    <div class="btnNav">
        <a href="/api/home/cart" id="linkCarrito" class="mx-2"><button class="btnCarrito">CARRITO</button></a>
        <button class="btnCarrito" id="logout">Logout</button>
    </div>
</div>
<h3 style="color: #fff">BIENVENIDO {{firstName}} {{lastName}} {{admin}}</h3>



<div class="containerCard" id="containerCards"></div>
 
<div class="containerBtn">
    <button id="btnAnterior">PAGINA ANTERIOR</button>
    <h5 style="color: white">Pagina <span  id="pag"></span></h5>
    <button id="btnSiguiente">PAGINA SIGUIENTE</button>
</div>


{{!-- <div>
    <h1>¡Hola, estos son nuestros productos! </h1>

<div>
    <div><h1>Estás conectado como: {{this.first_name}}</h1></div>
</div>

</div>
<table>
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Descripción</th>
    <th>Código</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Categoría
    </th>
  </tr>
{{#each products}}
  <tr>
    <td>{{this.id}}</td>
    <td>{{this.title}}</td>
    <td>{{this.description}}</td>
    <td>{{this.code}}</td>
    <td>{{this.price}}</td>
    <td>{{this.stock}}</td>
    <td>{{this.category}}</td>
  </tr>
{{/each}}

</table> --}}