<div>
    <h1>¡Hola, estos son nuestros productos! </h1>
</div>
<table>
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Descripción</th>
    <th>Código</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Categoría
    </th>
  </tr>
{{#each products}}
  <tr>
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{description}}</td>
    <td>{{code}}</td>
    <td>{{price}}</td>
    <td>{{stock}}</td>
    <td>{{category}}</td>
  </tr>
{{/each}}
</table>